#art {
  background: $background;
  position: relative;
  border-top: 3px solid $purple;

  header {
    padding-bottom: 5rem;
    h2 {
      text-transform: uppercase;
      text-align: center;
    }
    span {
      font-size: 1.5rem;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    cursor: pointer;
  }

  .grid-container {
    padding: 0 3rem 3rem 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: $margin;
    column-gap: $margin;
  }

  .art-viewer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: black;

    .art-viewer-background {
      height: 100%;
      @include flex(center, column, center);
      img {
        max-width: 80vw;
        max-height: 80vh;
        // height: 100%;
        width: 100%;
      }
      h2 {
        padding: 1rem;
        font-family: "Cormorant", serif;
      }
    }
  }
  .reveal {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  #art {
    .art-viewer {
      .art-viewer-background {
        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  #art {
    .grid-container {
      grid-template-columns: repeat(4, 1fr);
      max-width: 900px;
      margin: 0 auto;
    }
  }
}
