#connect {
  background: $background;
  overflow: hidden;
  position: relative;
  padding: 5rem 2rem;
  border-top: 3px solid $red;

  header {
    padding-bottom: 5rem;
    h2 {
      text-transform: uppercase;
      text-align: center;
    }
  }

  p {
    font-size: 1.5rem;
  }

  .width-restrictor {
    @include flex(center, row, space-evenly);
    flex-wrap: wrap;

    & > * {
      flex: 1 1 40rem;
      max-width: 45rem;
      margin: 0 2rem;
    }
  }

  .image-container {
    width: 100%;
    padding-bottom: 2rem;
    @include flex(center, row, center);

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .contact-info {
    p {
      padding-top: 1rem;
    }
  }

  form {
    @include flex(flex-start, column, center);
    width: 100%;
  }

  label {
    color: $red;
    margin-top: 2rem;
    font-size: 2rem;
  }

  input {
    padding: 1rem;
    outline: 2px solid black;
    border: none;
    width: 100%;
    font-family: "Montserrat", sans-serif;

    &:focus {
      outline: 2px solid $red;
    }
  }

  textarea {
    width: 100%;
    outline: 2px solid black;
    border: none;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;

    &:focus {
      outline: 2px solid $red;
    }
  }

  button {
    background: whitesmoke;
    border: none;
    color: $red;
    padding: 1rem 0;
    margin-top: 1rem;
    width: 10rem;
    cursor: pointer;
    transition: 0.25s;
    font-size: 2rem;

    &:focus {
      outline: 2px solid $red;
    }
    &:hover {
      background: $red;
      color: white;
    }
  }

  .red-sq {
    top: 0%;
    right: 0%;
  }
}
