#design {
  background: $background;
  position: relative;

  header {
    padding-bottom: 5rem;
    h2 {
      text-transform: uppercase;
      text-align: center;
    }
  }

  .grid-container {
    padding: 0 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: $margin;
    column-gap: $margin;
    width: 100%;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      max-width: 60vw;
      margin: 0 auto;
      cursor: pointer;
    }
  }

  .blue-sq {
    background: $blue;
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 1000px) {
  #design {
    min-height: auto;
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      max-width: 500px;
      margin: 0 auto;
    }
  }
}
