#design {
  background: black;
  display: flex;
  flex-direction: column;
  border: $border;
  position: relative;
  padding-bottom: 2rem;

  header {
    padding-top: 2rem;
    h2 {
      text-transform: uppercase;
      font-size: 3rem;
      text-align: center;
    }
  }

  .flex-container {
    @include flex(center, row, center);
    padding: 2rem;

    .flex-item {
      flex: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .left {
      transform: translateY(25px);
      padding-right: $margin/2;
    }
    .right {
      transform: translateY(-25px);
      padding-left: $margin/2;
    }
  }

  .blue-sq {
    background: $blue;
    top: 0;
    right: 0;
  }
}
