.home {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: $border;

  h2 {
    font-size: 3.6rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 130%;
    // letter-spacing: 92%;
  }

  li {
    font-size: 1.6rem;
  }

  .flex-container {
    display: flex;
    flex: 1;

    .left-column {
      min-width: 5rem;
      // background: black;
      border-right: $border;
      @include flex(center, column, space-between);
      video {
        height: 100%;
        width: 5rem;
        object-fit: none;
        padding: $margin;
      }
    }

    .blue-sq {
      width: 20px;
      height: 20px;
      top: 0;
      right: 0;
      background: $blue;
    }

    .yellow-sq {
      background: $yellow;
      bottom: 0;
      right: 0;
    }
    .red-sq {
      background: $red;
      bottom: 0;
      left: 0;
    }
    .purple-sq {
      background: $purple;
      top: 0;
      right: 0;
    }

    .home-footer {
      border-top: $border;
      height: 50px;
      width: 50px;
      @include flex(center, row, center);
      h2 {
        font-size: 1.6rem;
        font-family: "Cormorant", serif;
      }
    }
    .right-column {
      @include flex(center, column, space-between);

      .container {
        background: black;
        position: relative;
        flex: 1;
        width: 100%;
        // border-bottom: $margin solid white;
        // border-left: $margin solid white;
        margin: 0 0 $margin $margin;
        padding-left: 2rem;
        @include flex(flex-start, column, center);

        h2 {
          font-family: "Cormorant", serif;
          font-size: 3.6rem;
          line-height: 95%;
          text-transform: uppercase;
        }

        &:last-child {
          border-bottom: 0px;
        }

        nav {
          li {
            padding: 0.5rem 0;
            cursor: pointer;
          }
          h2 {
            font-size: 3rem;
            padding-bottom: 1rem;
          }
        }

        p {
          padding: 2rem 2rem 2rem 0;
        }
      }
    }
  }
}
