.mini-header {
  width: 100%;
  padding: 0 $margin;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateY(-100%);
  overflow: hidden;
  transition: 0.75s;

  header {
    @include flex(center, row, space-between);
    padding: $margin;
    min-height: 5rem;
    background: black;
    font-family: "Cormorant", serif;
    border-bottom: 0.2rem solid white;
  }

  #burger {
    padding: 1rem;
  }
}

.reveal {
  transform: translateY(0%);
}
