#web {
  background: $background;
  position: relative;
  margin-top: 0;

  header {
    text-align: center;
    padding-bottom: 5rem;

    h2 {
      text-transform: uppercase;
    }
  }

  li {
    font-family: "Cormorant", serif;
    font-size: 2.2rem;
    padding: 0.5rem 0;
  }
  span {
    font-family: "Cormorant", serif;
    text-transform: uppercase;
  }
  video {
    width: 100%;
    object-fit: cover;
  }

  .width-restrictor {
    @include flex(flex-start, row, space-evenly);
    flex-wrap: wrap;
    height: 100%;

    & > * {
      flex: 1 1 35rem;
      max-width: 50rem;
    }
  }

  .expand {
    cursor: pointer;
    position: relative;

    h3 {
      font-size: 2rem;
    }
  }

  .plus {
    transition: 0.5s all;
  }

  .rotate {
    transform: rotate(45deg);
  }

  .text {
    height: 0;
    transition: 0.75s all;
    overflow: hidden;
  }

  .reveal {
    padding-top: 2rem;
    height: 12rem;
    transition: 0.75s all;
  }

  .web-list {
    background: $red;
    padding: 2rem;
    margin-bottom: 2rem;

    a {
      text-decoration: none;
      color: white;

      p {
        margin-top: 0.5rem;
        font-size: 2rem;
        text-decoration: underline;
      }
    }

    .flex {
      @include flex(center, row, space-between);
    }

    li {
      position: relative;
    }
    li::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: black;
      padding: 0.05rem;
    }
  }

  .spotlight {
    padding-top: 2rem;

    h2 {
      padding-top: 2rem;
      text-align: center;
      color: white;
    }

    .video {
      position: relative;
      img {
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #web {
    min-height: auto;
    .spotlight {
      padding-top: 0;
    }

    .expand {
      padding-top: 1rem;
    }
  }
}
