@mixin flex($align, $direction, $justify) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

$header1: calc(3rem + 1vw);
$header2: calc(2.5rem + 1vw);
$body: calc(1.6rem + 1vw);

$green: #82bc00;
$body-color: #444444;
$light-gray: #efefef;
$dark-gray: #222222;
$white: #ffffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  overflow-x: hidden;
  // cursor: none;
}

h1,
h2 {
  font-family: "Cormorant", serif;
}

h1 {
  font-size: $header1;
}

h2 {
  font-size: $header2;
}

p,
li,
label,
input {
  font-size: $body;
}

#header {
  min-height: 10vh;
  width: 100vw;
  margin: 0 auto;
  background: black;
  @include flex(center, column, center);
  h1 {
    font-size: 6rem;
  }
  border: 3px solid white;
}

//

@import "home";
@import "web";
@import "art";
@import "connect";

.home,
.web,
.art,
.connect {
  min-height: 90vh;
}
