@mixin flex($align, $direction, $justify) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

$header1: 3rem;
$header2: 2.2rem;
$body: 1.6rem;

$green: #82bc00;
$body-color: #444444;
$blue: #3565df;
$yellow: #d6f60e;
$red: #dc0e89;
$purple: #6529b0;

$margin: 3px;
$border: 0 solid white;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  // background: white;
  overflow-x: hidden;
  // cursor: none;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

h1 {
  font-family: "Cormorant", serif;
}

h1,
h2,
li {
  text-transform: uppercase;
}

h1 {
  font-size: $header1;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $body;
}

h2,
p {
  font-family: "Montserrat", sans-serif;
  text-transform: none;
}

p,
li,
label,
input {
  font-size: $body;
}

ul {
  list-style: none;
}

.square {
  position: absolute;
  height: 20px;
  width: 20px;
}

footer {
  @include flex(center, row, flex-start);
  background: black;
  min-height: 5vh;
  padding: $margin;
  border: $border;
  font-family: "Cormorant", serif;
}

#header {
  min-height: 15vh;
  border: $border;
  background: black;
  padding: 1rem;
  @include flex(center, column, center);
  h1 {
    font-size: 5rem;
    line-height: 95%;
  }
}

.desktop-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop-header {
    display: block;
  }
  .mobile-header {
    display: none;
  }
}

// main {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
// }
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  row-gap: $margin * 2;
  column-gap: $margin * 2;
  margin: $margin * 2;
}

.home,
#web,
#art,
#design,
#connect {
  min-height: 85vh;
  // flex: 1 0 auto;
}

@import "home";
@import "web";
@import "art";
@import "design";
@import "connect";
@import "mobile-nav";
@import "mobile-header";
