* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  overflow-x: hidden;
}

#background-video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

#load-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: black;
  z-index: 10;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-family: "Cormorant", serif;
}

h1,
h2,
li {
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
}

h2,
p {
  font-family: "Montserrat", sans-serif;
  text-transform: none;
}

p,
li,
label,
input {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

.square {
  position: absolute;
  height: 20px;
  width: 20px;
}

.blue-sq {
  top: 0;
  right: 0;
  background: #3565df;
}

.yellow-sq {
  background: #d6f60e;
  top: 0;
  right: 0;
}

.red-sq {
  background: #dc0e89;
  bottom: 0;
}

.purple-sq {
  background: #6529b0;
  top: 0;
  right: 0;
}

.overflow {
  overflow: hidden;
}

main {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #home {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  max-height: 80vh;
}

main .flex-container-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

@media screen and (min-width: 768px) {
  main {
    padding-top: calc(15vh + $margin);
  }
  main #home {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25rem;
            flex: 0 0 25rem;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    padding-top: 1rem;
    max-height: 90vh;
  }
  main .flex-container-right {
    margin-left: 1rem;
    margin-bottom: 0;
    margin-top: 10vh;
    padding-top: 1rem;
  }
  main .flex-container-right > * {
    margin-top: 1rem;
    padding: 5rem;
  }
}

#home,
#desktop-home,
#web,
#art,
#design,
#connect {
  min-height: 90vh;
  margin: 1rem 0;
  padding: 5rem 0;
}

#home {
  min-height: 85vh;
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
  margin-top: 0;
}

#home p {
  font-size: 1.6rem;
  line-height: 130%;
}

#home li {
  font-size: 1.6rem;
}

#home #home-text p {
  padding: 0.5rem;
  margin: 0;
  line-height: 120%;
  font-size: 2rem;
  font-family: "Cormorant", serif;
}

#home .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home .flex-container .container-home {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #000000da;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

#home .flex-container .container-home a {
  text-decoration: none;
  color: white;
}

#home .flex-container .container-home h2 {
  font-family: "Cormorant", serif;
  line-height: 120%;
  text-transform: uppercase;
}

#home .flex-container .container-home nav li {
  padding: 0.5rem 0;
  cursor: pointer;
}

#home .flex-container .container-home nav h2 {
  padding-bottom: 1rem;
}

#home .flex-container .container-home:last-child {
  margin-bottom: 0px;
}

#home .flex-container .red-sq {
  background: #dc0e89;
  bottom: 0;
  left: 0;
}

#desktop-home {
  display: none;
}

@media screen and (min-width: 720px) {
  #desktop-home {
    margin-top: 0;
    background: #000000da;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #desktop-home header {
    text-align: center;
    padding-bottom: 5rem;
  }
  #desktop-home header h1 {
    text-transform: none;
    font-size: 4rem;
  }
  #desktop-home header h2 {
    font-family: "Cormorant", serif;
  }
  #desktop-home .desktop-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #desktop-home .left,
  #desktop-home .center,
  #desktop-home .right {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
  }
  #desktop-home img {
    width: 80%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 40%;
    padding: 2rem;
    border: 0.2rem solid white;
  }
  #desktop-home .left,
  #desktop-home .right {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    padding: 0 5rem;
  }
  #desktop-home .left h2,
  #desktop-home .right h2 {
    margin-bottom: 1rem;
    font-family: "Cormorant", serif;
    text-transform: uppercase;
  }
  #desktop-home .left > *,
  #desktop-home .right > * {
    padding: 2rem 0;
  }
  #desktop-home .right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #desktop-home .center {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #desktop-home .center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #desktop-home .center p {
    margin: 2rem 0 0 10rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1320px) {
  #desktop-home .desktop-content .right {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #desktop-home .desktop-content .center {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#web {
  background: #000000da;
  position: relative;
  margin-top: 0;
}

#web header {
  text-align: center;
  padding-bottom: 5rem;
}

#web header h2 {
  text-transform: uppercase;
}

#web li {
  font-family: "Cormorant", serif;
  font-size: 2.2rem;
  padding: 0.5rem 0;
}

#web span {
  font-family: "Cormorant", serif;
  text-transform: uppercase;
}

#web video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#web .width-restrictor {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

#web .width-restrictor > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35rem;
          flex: 1 1 35rem;
  max-width: 50rem;
}

#web .expand {
  cursor: pointer;
  position: relative;
}

#web .expand h3 {
  font-size: 2rem;
}

#web .plus {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#web .rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#web .text {
  height: 0;
  -webkit-transition: 0.75s all;
  transition: 0.75s all;
  overflow: hidden;
}

#web .reveal {
  padding-top: 2rem;
  height: 12rem;
  -webkit-transition: 0.75s all;
  transition: 0.75s all;
}

#web .web-list {
  background: #dc0e89;
  padding: 2rem;
  margin-bottom: 2rem;
}

#web .web-list a {
  text-decoration: none;
  color: white;
}

#web .web-list a p {
  margin-top: 0.5rem;
  font-size: 2rem;
  text-decoration: underline;
}

#web .web-list .flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#web .web-list li {
  position: relative;
}

#web .web-list li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
  padding: 0.05rem;
}

#web .spotlight {
  padding-top: 2rem;
}

#web .spotlight h2 {
  padding-top: 2rem;
  text-align: center;
  color: white;
}

#web .spotlight .video {
  position: relative;
}

#web .spotlight .video img {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  #web {
    min-height: auto;
  }
  #web .spotlight {
    padding-top: 0;
  }
  #web .expand {
    padding-top: 1rem;
  }
}

#art {
  background: #000000da;
  position: relative;
}

#art header {
  padding-bottom: 5rem;
}

#art header h2 {
  text-transform: uppercase;
  text-align: center;
}

#art header span {
  font-size: 1.5rem;
}

#art img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#art .grid-container {
  padding: 0 3rem 3rem 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 1rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

@media screen and (min-width: 1440px) {
  #art .grid-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    max-width: 900px;
    margin: 0 auto;
  }
}

#design {
  background: #000000da;
  position: relative;
}

#design header {
  padding-bottom: 5rem;
}

#design header h2 {
  text-transform: uppercase;
  text-align: center;
}

#design .grid-container {
  padding: 0 2rem 2rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 1rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  width: 100%;
}

#design .grid-container img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 60vw;
  margin: 0 auto;
}

#design .blue-sq {
  background: #3565df;
  top: 0;
  right: 0;
}

@media screen and (min-width: 1000px) {
  #design {
    min-height: auto;
  }
  #design .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    margin: 0 auto;
  }
}

#connect {
  background: #000000da;
  overflow: hidden;
  position: relative;
  padding: 5rem 2rem;
}

#connect header {
  padding-bottom: 5rem;
}

#connect header h2 {
  text-transform: uppercase;
  text-align: center;
}

#connect p {
  font-size: 1.5rem;
}

#connect .width-restrictor {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#connect .width-restrictor > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  max-width: 50rem;
}

#connect .image-container {
  width: 100%;
  padding-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#connect .image-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#connect .contact-info p {
  padding-top: 1rem;
}

#connect form {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#connect label {
  color: #dc0e89;
  margin-top: 2rem;
}

#connect input {
  padding: 1rem;
  outline: 2px solid black;
  border: none;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

#connect input:focus {
  outline: 2px solid #dc0e89;
}

#connect textarea {
  width: 100%;
  outline: 2px solid black;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

#connect textarea:focus {
  outline: 2px solid #dc0e89;
}

#connect button {
  background: whitesmoke;
  border: none;
  color: #dc0e89;
  padding: 1rem 0;
  margin-top: 1rem;
  width: 10rem;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#connect button:focus {
  outline: 2px solid #dc0e89;
}

#connect button:hover {
  background: #dc0e89;
  color: white;
}

#connect .red-sq {
  top: 0%;
  right: 0%;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 2rem;
  z-index: 10;
  -webkit-clip-path: circle(0vh at 0% 100%);
          clip-path: circle(0vh at 0% 100%);
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3565df;
  color: white;
}

.mobile-nav a {
  text-decoration: none;
}

.mobile-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.mobile-nav li {
  padding: 3rem 0;
  color: white;
}

.mobile-nav .exit-message {
  position: fixed;
  left: -15%;
  top: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.mobile-nav .mini-logo {
  position: fixed;
  top: 5%;
  left: 5%;
}

.mobile-nav .mini-logo h1 {
  color: white;
}

.nav-active {
  -webkit-clip-path: circle(200vh at 0% 100%);
          clip-path: circle(200vh at 0% 100%);
}

.mini-header {
  width: 100%;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  overflow: hidden;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.mini-header header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  min-height: 5rem;
  background: black;
  font-family: "Cormorant", serif;
  border-bottom: 0.2rem solid white;
}

.mini-header #burger {
  padding: 1rem;
}

.reveal {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/***************************************************
 * Generated by SVG Artista on 7/26/2021, 9:52:18 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/
svg .svg-elem-1 {
  stroke-dashoffset: 99.45659637451172px;
  stroke-dasharray: 99.45659637451172px;
  -webkit-animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
          animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

svg .svg-elem-2 {
  stroke-dashoffset: 124.28990173339844px;
  stroke-dasharray: 124.28990173339844px;
  -webkit-animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
          animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

svg .svg-elem-3 {
  stroke-dashoffset: 99.45670318603516px;
  stroke-dasharray: 99.45670318603516px;
  -webkit-animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
          animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

svg .svg-elem-4 {
  stroke-dashoffset: 124.29052734375px;
  stroke-dasharray: 124.29052734375px;
  -webkit-animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
          animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

svg .svg-elem-5 {
  stroke-dashoffset: 8.885499954223633px;
  stroke-dasharray: 8.885499954223633px;
  -webkit-animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
          animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

svg .svg-elem-6 {
  stroke-dashoffset: 12.593101501464844px;
  stroke-dasharray: 12.593101501464844px;
  -webkit-animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
          animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

svg .svg-elem-7 {
  stroke-dashoffset: 43.87856104570724px;
  stroke-dasharray: 43.87856104570724px;
  -webkit-animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
          animation: dash 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0px;
  }
}

#header {
  min-height: 15vh;
  background: black;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header h1 {
  font-size: 5rem;
  line-height: 95%;
}

.desktop-header {
  display: none;
}

@media screen and (min-width: 768px) {
  #header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 10vh;
    padding: 0;
  }
  .desktop-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0 7rem;
    margin: 1rem 0;
  }
  .desktop-header img {
    padding: 0 1rem;
  }
  .desktop-header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .desktop-header .logo svg {
    width: 100px;
  }
  .desktop-header .icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile-header,
  .mini-header {
    display: none;
  }
}

footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #000000da;
  min-height: 5vh;
  padding: 1rem;
  margin: 1rem;
  margin-top: 0;
  font-family: "Cormorant", serif;
}
/*# sourceMappingURL=main.css.map */