@mixin flex($align, $direction, $justify) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

$header1: 3rem;
$header2: 3rem;
$body: 1.6rem;

$green: #82bc00;
$background: #000000;
$blue: #3565df;
$yellow: #d6f60e;
$red: #dc0e89;
$purple: #6529b0;

$margin: 1rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  // background: white;
  overflow-x: hidden;
  // cursor: none;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

//<-- TEXT ELEMENTS -->

h1 {
  font-family: "Cormorant", serif;
}

h1,
h2,
li {
  text-transform: uppercase;
}

h1 {
  font-size: $header1;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $body;
}

h2,
p {
  font-family: "Montserrat", sans-serif;
  text-transform: none;
}

p,
li,
label,
input {
  font-size: $body;
}

ul {
  list-style: none;
}

//<-- UNIVERSAL CLASSES -->

.square {
  position: absolute;
  height: 20px;
  width: 20px;
}

.blue-sq {
  top: 0;
  right: 0;
  background: $blue;
}

.yellow-sq {
  background: $yellow;
  top: 0;
  right: 0;
}
.red-sq {
  background: $red;
  bottom: 0;
}
.purple-sq {
  background: $purple;
  top: 0;
  right: 0;
}

.overflow {
  overflow: hidden;
}

//<-- MAIN CONTENT -->

main {
  margin: 0 $margin;
  display: flex;
  flex-wrap: wrap;

  #home {
    flex: 1 1 35rem;
    max-height: 80vh;
  }

  .flex-container-right {
    flex: 1 1 35rem;
  }
}

@media screen and (min-width: 720px) {
  main {
    padding-top: calc(15vh + $margin);
    #home {
      flex: 0 0 35rem;
      position: sticky;
      top: 15%;
      padding-top: $margin;
    }
    .flex-container-right {
      margin-left: $margin;
      margin-bottom: 0;
      margin-top: 16vh;

      & > * {
        margin-top: $margin;
        padding: 5rem;
      }
    }
  }
}

//<-- UNIVERSAL STYLING -->

#home,
#desktop-home,
#web,
#art,
#design,
#connect {
  min-height: 80vh;
  margin: $margin 0;
  padding: 5rem 0;
}

//<-- SASS PARTIALS -->

@import "home";
@import "web";
@import "art";
@import "design";
@import "connect";
@import "mobile-nav";
@import "mobile-header";
@import "logo";
@import "header";
@import "footer";
